body {
  font-size:12pt;
  color: #393939;
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  margin:0;
  padding:0;
}
.content {
  min-width:1140px;
  min-height:100%;
  margin:0;
  padding: 0;
}
.content-wrapper {
  width: 1090px;
  margin: 0 auto;
}
a,
a:link,
a:visited {
  color: #002200;
  text-decoration:none;
}
ul li a {
  color:#39b;
  text-decoration:none;
}
ul li a:hover {
  width: 150%;
  left: 0;
  bottom: 1px;
  border-width:0 0 1px;
  border-style:solid;
  border-color:red;
}

ul.sub-menu {
  display:none;
  visibility:hidden;
}
ul li:hover > ul {
  display:block;
  visibility: visible;
  width: 230px;
  position: absolute;
  left: -20px;
  top: 30px;
}
nav ul:after {
  content: "";
  display: block;
  clear: both;
}
nav ul ul {
  background-color: #D6E9CA;
  border-radius:8px;
}
.head {
  padding-top:25px;
}
.head h2 {
  float: left;
  font-size:1.6em;
}
nav {
  padding-top:40px;
  font-size:1.2em;
}
.top-menu {
  display: table;
  list-style: none;
  padding-left:30px;
  position: relative;
  top: 10px;
  margin:0;
}
.top-menu .menu-items {
  display:table-cell;
  position: relative;
  padding: 4px 8px;
}
.clearfix:after{
  clear:both;
}
hr {
  border: 0;
  height: 0;
  margin: 8px 0 20px;
  border-top: 1px solid #eee;
  clear: both;
}
nav ul li > a {
  width: 120px;
}
nav ul li {
  list-style: none;
  padding: 4px 5px;
  margin:4px 0;
}
nav ul {
  position: relative;
  margin: 1px 6px 12px 0;
  padding: 0 0 0 16px;
}
nav ul li ul {
  transition-duration: visibility 2s ease-out 0.5s;
}
nav ul li:hover ul {
  visibility: visible;
}
.navlist {
  position: relative;
}
.menu-right-angle {
  margin-top:4px;
}
.box {
  margin-bottom: 50px;
}
.box-header {
  background: #0e5276;
  position: relative;
  font-size:1.2em;
  font-weight:600;
  color: white;
  padding: 10px;
  padding-left:20px;
  margin: 0 0 24px;
}
.box-header:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 30px;
  border-width: 20px 0 0 20px;
  border-style: solid;
  border-color: #0e5276 transparent;
  display:block;
  width: 0;
}
/*
.box-header {
  position: relative;
  padding: 15px 15px 15px 18px;
  margin: 1em 0 2em;
  background-color:#0e5276;
  background:-webkit-gradient(linear, 0 0,0 100%,from(#366693), to(#0e5276));
  background:-moz-linear-gradient(#366693, #0e5276);
  background:-o-linear-gradient(#366693, #0e5276);
  background:linear-gradient(#366693,#0e5276);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius:8px;
  font-size:1.2em;
  font-weight:600;
  color: white;
}
.box-header:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 60px;
  border: 0;
  border-right-width: 30px;
  border-bottom-width: 20px;
  border-style: solid;
  border-color:transparent #0e5276;
  display:block;
  width:0;
}
.box-header:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 80px;
  border: 0;
  border-right-width: 10px;
  border-bottom-width: 20px;
  border-style:solid;
  border-color: transparent #fff;
  display:block;
  width:0;
}
*/
  
.box-content {
  background: #fafafa;
  margin-left:10px;
}

.award,
#schedule {
  margin-top:20px;
}
#schedule  ul {
  margin:16px 0 8px 16px;
  padding:0;
}
#schedule ul li {
  list-style: none;
  display:table;
}
#schedule ul ul{
  margin: -8px 0 12px 15px;
  padding-left: 24px;
}
#schedule ul ul li {
  margin: 0 -495px 10px 0;
  list-style: circle;
}
#schedule .accordion:nth-of-type(n+2) ~ ul {
  display: none;
}
.accordion {
  margin:0 0 3px 0;
}
.state {
  display:table-cell;
  width:140px;
  text-align:center;
}
.clearfix:after {
  content: "";
  clear:both;
  display:block;
}
dl {
  padding-left:8px;
  margin:0 0 16px;
}
dt {
  margin:2px 0 1px;
}
dd {
  margin: 0;
}

.open:after .fy {
  font-family: "FontAwesome";
  content: "\f0d7";
  padding-left: 5px;
}
.fy:after {
  font-family: "FontAwesome";
  content: "\f0da";
  padding-left:5px;
}
footer {
  padding:30px 0 30px;
  clear:both;
}
a.close {
  text-decoration:none;
}
.btn
{
  border-style:none;
  border-radius:5px;
}
.btn-c {
  font-weight:bold;
  margin-left:30px;
  padding:10px 30px;
  background-color:#ccc;
  color:#555;
}
.btn-s {
  padding: 3px ;
  background-color: #dfdfdf;
  color:#666;
}
.btn-s:hover {
  background-color:#cfcfcf;
  color:#5f5f5f;
}
.btn-c:hover {
  background-color:#bfbfbf;
  color:#4f4f4f;
}
