<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <link rel=stylesheet href="{{ site.baseurl }}/css/style.css">
        <link rel=stylesheet href="{{ site.baseurl }}/css/modal.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel=stylesheet href="{{ site.baseurl }}/css/drawic-font.css">
    </head>

    <body>
        <!-- Modal template -->
        <div id="modal">
          <div class="background"></div>
          <div class="container-back">
              <div class="container">
                <div class="header">
                  <a href="#" class="close x-close" title="Close this modal." data-dismiss="modal">
                    <i class="fa fa-times fa-2x"></i>
                  </a>
                </div>
                <p class="article"></p>
                <div class="footer">
                  <a href="#" class="close" title="Close this modal." data-dismiss="modal">
                    <span type="button" class="btn-c">Close</span>
                  </a>
                </div>
              </div>

          </div>
        </div>
        <!-- end Modal -->

        <div class="content">
          <div class="content-wrapper">
            <section class="head">
              <h2>
                <span>
                  <a href="http://www.ai-gakkai.or.jp/jsai/">人工知能学会</a> 
                </span>
                <br>
                <span>言語・音声理解と対話処理研究会</span>
                <span>SIG-SLUD</span>
              </h2>
              <nav>
                <ul class="top-menu">
                  <li class="menu-items ">
                    <a href="/">Top <i class="menu-right-angle fa fa-angle-double-right"></i></a>
                    <ul class="sub-menu">
                      <li><a href="#about">研究会案内</a></li>
                      <li><a href="#schedule">研究会・イベント開催予定</a></li>
                      <li><a href="#award">受賞者一覧</a></li>
                    </ul>
                  </li>
                  <li class="menu-items ">
                    <a href="#">Events <i class="menu-right-angle fa fa-angle-double-right"></i></a>
                    <ul class="sub-menu">
                      <li><a href="#">研究発表会への参加</a></li>
                      <li><a href="schedule.html">スケジュール一覧</a></li>
                    </ul>
                  </li>
                  <li class="menu-items ">
                    <a href="#">Reports <i class="menu-right-angle fa fa-angle-double-right"></i></a>
                    <ul class="sub-menu">
                      <li><a href="#">研究報告 </a></li>
                    </ul>
                  </li>
                  <li class="menu-items ">
                    <a href="#">Archive <i class="menu-right-angle fa fa-angle-double-right"></i></a>
                    <ul class="sub-menu">
                      <li><a href="#">受賞者一覧</a></li>
                      <li><a href="#">会議参加報告</a></li>
                      <li><a href="#">以前の活動履歴</a></li>
                      <li><a href="#">旧 SIG-SLUD Web サイト</a></li>
                    </ul>
                  </li>
                  <li class="menu-items ">
                    <a href="#">About <i class="menu-right-angle fa fa-angle-double-right"></i></a>
                    <ul class="sub-menu">
                      <li><a href="#">研究会に参加したい</a></li>
                      <li><a href="#">研究会運営委員一覧</a></li>
                      <li><a href="#">問い合わせ</a></li>
                    </ul>
                  </li>
                  <li class="menu-items "><a href="#">Login</a></li>
                  <li class="menu-items ">
                    <a href="https://twitter.com/sigslud"><span class="drawic drawic-twitter"></span></a>
                  </li>
                </ul>
              </nav>
              <hr>
            </section>
