
    <body>
        <!-- Modal template -->
        <div id="modal">
          <div class="background"></div>
          <div class="container-back">
            <div class="container">
              <p class="article"></p>
              <div class="footer">
                <a href="#!" class="close" title="Close this modal." data-dismiss="modal">Close</a>
              </div>
            </div>

          </div>
        </div>
        <!-- end Modal -->

        <div class="content">
          <section class="head">
            <h2>
              <span>
                <a href="http://www.ai-gakkai.or.jp/jsai/">人工知能学会</a> 
              </span>
              <span>言語・音声理解と対話処理研究会</span>
              <span>SIG-SLUD</span>
            </h2>
            <hr>
          </section>
    
