
    <body>
        <!-- Modal template -->
        <div id="modal">
          <div class="background"></div>
          <div class="container-back"><div class="container"><p class="article"></p></div></div>
        </div>
        <!-- end Modal -->

        <div class="content">
          <section class="head">
            <h2>
              <span>
                <a href="http://www.ai-gakkai.or.jp/jsai/">人工知能学会</a> 
              </span>
              <span>言語・音声理解と対話処理研究会</span>
              <span>SIG-SLUD</span>
            </h2>
            <span style=""><a href="{{ site.baseurl}}/sample1.html">sample1</a></span>
            <span style=""><a href="{{ site.baseurl}}/sample2.html">sample2</a></span>
            <span style=""><a href="{{ site.baseurl}}/sample3.html">sample3</a></span>
            <hr>
          </section>
    
