    {% include head.html %}
    
          <section>
            <div class="sidenav">
              <div class="box">
                <div class="box-header">
                  <p>メニュー</p>
                </div>
                <div class="box-content">
                   <nav>
                     <ul>
                       <li class="navlist accordion">研究会 SIG-SLUD に関して
                         <ul>
                           <li><a class="within-l" href="#">研究分野</a></li>
                           <li><a class="within-l" href="#">委員</a></li>
                           <li><a class="within-l" href="#">連絡委員</a></li>
                           <li><a class="within-l" href="#">研究会参加登録</a></li>
                         </ul>
                       </li>
                       <li class="navlist accordion">発表に関して
                         <ul>
                           <li><a class="within-l" href="#">スケジュール</a></li>
                           <li><a class="within-l" href="#">発表申し込み</a></li>
                         </ul>
                       </li>
                       <li class="navlist accordion">研究情報
                         <ul>
                           <li><a class="within-l" href="#">コーパス利用研究グループ</a></li>
                           <li><a class="within-l" href="#">SIGDIAL 等</a></li>
                         </ul>
                       </li>
                       </li>
                       <li class="navlist">研究会文献</li>
                     </ul>
                   </nav>
                 </div>
               </div>
            </div>
          </section>
    
          <section>
            <div class="main">
             <div class="box">
               <div class="box-header">
                 <p>SLUD について</p>
               </div>
               <div class="box-content">
                 <p>
                   Sit alias debitis ea iure quo voluptatem officiis molestias ea voluptatum nemo quaerat? Exercitationem delectus quo dolorem fugit eum aut impedit nobis. Consectetur magnam ullam saepe voluptatem inventore, totam quisquam?
                 </p>
                 <p>
                   Consectetur distinctio veniam saepe rerum eius. Mollitia officiis perspiciatis similique beatae doloribus, corporis natus autem ipsa. Nisi culpa dolore voluptates hic maxime? Voluptates aut nostrum assumenda quo a vero. Deserunt!
                 </p>
                 
               </div>
             </div>
            </div>
          </section>

          {{ content }}
          {% include foot.html %}

