    {% include head.html %}
          <section id="about">
            <div class="main">
             <div class="box">
               <div class="box-header">
                 <span>SLUD について</span>
               </div>
               <div class="box-content">
                 <p>
                   Sit alias debitis ea iure quo voluptatem officiis molestias ea voluptatum nemo quaerat? Exercitationem delectus quo dolorem fugit eum aut impedit nobis. Consectetur magnam ullam saepe voluptatem inventore, totam quisquam?
                 </p>
                 <p>
                   Consectetur distinctio veniam saepe rerum eius. Mollitia officiis perspiciatis similique beatae doloribus, corporis natus autem ipsa. Nisi culpa dolore voluptates hic maxime? Voluptates aut nostrum assumenda quo a vero. Deserunt!
                 </p>
                 
               </div>
             </div>
            </div>
          {{ content }}
        </section>
        {% include foot.html %}

