    {% include head.html %}
          <section id="about">
            <div class="main">
             <div class="box">
               <div class="box-header box-header-color-blue">
                 <span>SLUD について</span>
               </div>
               <div class="box-content">
                 <p>
                 人工知能学会 言語・音声と対話処理研究会（SLUD）は，1992年に創設されました．
                 研究会では，言語，音声，対話に関する基礎研究から，音声処理，言語処理，対話処理に関する
                 アルゴリズムやシステムの研究まで，多岐に渡る話題を対象としています．
                 研究会の開催（年3回）を基本として，時代に即応した活動を行っています。対話データへの
                 注釈付けに関するワーキンググループ．対話システムシンポジウム，社会における対話研究の
                 シンポジウムの開催などがその例です．
                 </p>
                 <p>
                 本研究会の特徴は，言語，音声，対話という研究対象を反映した多様性にあります.
                 研究には，情報科学だけでなく，言語学，心理学，社会学（会話分析）など，さまざまな分野が
                 関係します．研究会の活動を通して，言語，音声，対話に関して，研究者が意見を交換する
                 場を提供することにより，研究分野の発展に寄与したいと考えています．
                 </p>
                 
               </div>
             </div>
            </div>
          {{ content }}
        </section>
        {% include foot.html %}
