<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
    
        <link rel=stylesheet href="{{ site.baseurl }}/css/sample1.css">
        <link rel=stylesheet href="{{ site.baseurl }}/css/modal.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>
        <!-- Modal template -->
        <div id="modal">
          <div class="background"></div>
          <div class="container-back"><div class="container"><p class="article"></p></div></div>
        </div>
        <!-- end Modal -->

        <div class="content">
          <section class="head">
            <h2>
              <span>
                <a href="http://www.ai-gakkai.or.jp/jsai/">人工知能学会</a> 
              </span>
              <span>言語・音声理解と対話処理研究会</span>
              <span>SIG-SLUD</span>
            </h2>
            <hr>
          </section>
    
          <section>
            <div class="sidenav">
              <nav>
                <ul>
                  <li class="navlist accordion">研究会 SIG-SLUD に関して<i class="fa fa-angle-right"></i>
                    <ul>
                      <li><a class="within-l" href="#">研究分野</a></li>
                      <li><a class="within-l" href="#">委員</a></li>
                      <li><a class="within-l" href="#">連絡委員</a></li>
                      <li><a class="within-l" href="#">研究会参加登録</a></li>
                    </ul>
                  </li>
                  <li class="navlist accordion">発表に関して<i class="fa fa-angle-right"></i>
                    <ul>
                      <li><a class="within-l" href="#">スケジュール</a></li>
                      <li><a class="within-l" href="#">発表申し込み</a></li>
                    </ul>
                  </li>
                  <li class="navlist accordion">研究情報<i class="fa fa-angle-right"></i>
                    <ul>
                      <li><a class="within-l" href="#">コーパス利用研究グループ</a></li>
                      <li><a class="within-l" href="#">SIGDIAL 等</a></li>
                    </ul>
                  </li>
                  </li>
                  <li class="navlist">研究会文献</li>
                </ul>
              </nav>
            </div>
          </section>
    
          <section>
            <div class="main">
             <div class="box">
               <div class="box-header">
                 <p>SLUD について</p>
               </div>
               <div class="box-content">
                 <p>
                   Sit alias debitis ea iure quo voluptatem officiis molestias ea voluptatum nemo quaerat? Exercitationem delectus quo dolorem fugit eum aut impedit nobis. Consectetur magnam ullam saepe voluptatem inventore, totam quisquam?
                 </p>
                 <p>
                   Consectetur distinctio veniam saepe rerum eius. Mollitia officiis perspiciatis similique beatae doloribus, corporis natus autem ipsa. Nisi culpa dolore voluptates hic maxime? Voluptates aut nostrum assumenda quo a vero. Deserunt!
                 </p>
                 
               </div>
             </div>
            </div>
          </section>

          {{ content }}

          <footer>
            <p>Copyright © 2014 Nelab All Rights Reserved.</p>
          </footer>
    
        </div>
    
        <!-- Java script -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/js/modal.js"></script>
        <!--[if lte IE 9]>
          <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
          <script src="{{ site.baseurl }}/js/ie9-transition.js"></script>
        <![endif]-->
        <script>
          $(".accordion ").click(function(){
              $(this).children("ul").slideToggle();
              $(this).toggleClass("open");
          });
        </script>
    </body>

</html>
