body {
  background-color:#fefeff;
  font-size:12pt;
  color: #393939;
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  margin:0;
  padding:0;
}
a,
a:link,
a:hover,
a:active, 
a:visited {
  color: #002200;
}
ul li a,
ul li a:link,
ul li a:hover,
ul li a:active, 
ul li a:visited {
  color:#39b;
}
ul li a {
   -webkit-transition: all 0.1s linear 0;
   transition: all 0.1s linear 0;
}
ul li a:hover {
   color: #4ac;
   padding-left: 2px;
}
.head h2 {
  padding: 22px 0 10px 0;
  margin:0px 0;
}
.content {
  width:1100px;
  margin:0 80px;
  padding: 0 30px 30px;
  background-color: #fdfdff;
}
.sidenav {
  width: 330px;
  float: right;
  padding-top: 20px;
  background-color: #edf4ed;
  border-radius:7px;
}
.main {
  margin-right:350px;
}
nav ul li {
  padding: 2.5px 5px;
}
ul {
  margin: 1px 0 12px 0;
  padding: 0 0 0 30px;
}
ul li {
  list-style: none;
  list-style-position:outside;
  padding:0;
}
.box {
  margin:15px 5px;
  padding:3px;
  border-radius:8px;
  background:lavender;
}
.box-header {
  background-color: lavender;
  margin:3px;
  font-size:18px;

}
.box-content {
  border-radius:8px;
  background:white;
  margin:0;
  padding: 8px;
  
}
p {
  margin:8px 0;
}
.address {
  margin:16px 0 0 0px;
  font-size: 16pt;
}

.address:before {
  content: "mailto: "attr(data-email-local);
}
.address:after {
  content: attr(data-email-domain);
}
footer {
  padding-top:30px;:
  clear:right;
}
